{% capture footer_contents %}
  &copy;
  {{- site.data[site.active_lang].strings.footer.copyright }}
  {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ site.data[site.active_lang].strings.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    {{- site.data[site.active_lang].strings.footer.last_updated }}
    {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
<<<<<<< HEAD
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.[active_lang].first_name }}
      {{ site.[active_lang].middle_name }}
      {{ site.[active_lang].last_name }}. {{ site.data[site.active_lang].strings.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
=======
      {{ footer_contents }}
>>>>>>> template/main
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
<<<<<<< HEAD
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.[active_lang].first_name }}
      {{ site.[active_lang].middle_name }}
      {{ site.[active_lang].last_name }}. {{ site.data[site.active_lang].strings.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
=======
      {{ footer_contents }}
>>>>>>> template/main
    </div>
  </footer>
{% endif %}
